{% extends "layout/layout.html" %}

{% block content %}
<div>
  <h1 class="animated infinite flash">{{ t('test') }}</h1>
  <p>This is a paragraph</p>
  <div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!<i class="fab fa-twitter"></i>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <div id="hello">
    <div id="hello-loader">
      <br />
    </div>
  </div>
</div>
{% endblock %}
